$dark-cyan: hsl(185, 75%, 39%);
$dark-blue: hsl(229, 23%, 23%);
$gray-blue: hsl(227, 10%, 46%);
$dark-gray: hsl(0, 0%, 59%);

$font-stack: "Kumbh Sans", sans-serif;
$fonts: 18px;

$top-pattern: url("/images/bg-pattern-top.svg");
$bottom-pattern: url("/images/bg-pattern-bottom.svg");
$card-pattern: url("/images/bg-pattern-card.svg");
