@import "config";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $dark-cyan;
  background-image: $top-pattern, $bottom-pattern;
  background-position: top -650px left -750px, top 300px right -720px;
  background-repeat: no-repeat;
}

@mixin light-gray {
  color: $dark-gray;
  font-weight: 400;
}

.card {
  margin: 140px auto;
  max-width: 350px;
  border-radius: 15px;
  text-align: center;
  background-color: white;
  font-family: $font-stack;

  &-header {
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 150px;
    background-image: $card-pattern;

    img {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border: 6px solid white;
      transform: translateY(50px);
    }
  }

  &-body {
    padding-top: 70px;

    .profile {
      padding-bottom: 20px;

      .info {
        padding-bottom: 10px;
        display: flex;
        justify-content: center;

        .name {
          padding-right: 10px;
        }

        .age {
          @include light-gray;
        }
      }

      .from {
        @include light-gray;
      }
    }

    .stats {
      display: flex;
      justify-content: space-between;
      padding: 24px 48px 24px 36px;
      border-top: 1px solid lighten($color: $dark-gray, $amount: 30%);
      border-radius: 0 0 15px 15px;

      .desc {
        @include light-gray;
        font-size: 12px;
        letter-spacing: 2px;
        padding-top: 5px;
      }
    }
  }
}
